openapi: 3.0.3
info:
  title: JourneyGuard UK Rail API
  description: RESTful API service for calculating fares, searching stations, and managing train ticket bookings across the UK rail network.
  version: 1.0.0
servers:
  - url: https://api.journeyguard.co.uk/v1
    description: Production API Server
  - url: http://localhost:8000/v1
    description: Local Mock / Development Server

paths:
  /stations:
    get:
      summary: Search and retrieve station details
      description: Returns a list of UK rail stations matching optional CRS code or name filters.
      parameters:
        - name: query
          in: query
          required: false
          schema:
            type: string
          example: "KGX"
      responses:
        '200':
          description: A list of matching train stations
          content:
            application/json:
              schema:
                type: object
                properties:
                  stations:
                    type: array
                    items:
                      $ref: '#/components/schemas/Station'
        '400':
          $ref: '#/components/responses/400BadRequest'

  /fares/calculate:
    post:
      summary: Calculate ticket fare with railcard discounts
      description: Computes unit discounts and final ticket prices based on base fare, railcard type, and ticket quantity.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FareRequest'
      responses:
        '200':
          description: Fare calculated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FareResponse'
        '400':
          $ref: '#/components/responses/400BadRequest'

  /bookings:
    post:
      summary: Create a new train booking
      description: Validates origin/destination stations, passenger details, and creates a confirmed booking.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookingRequest'
      responses:
        '201':
          description: Booking created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookingResponse'
        '400':
          $ref: '#/components/responses/400BadRequest'

  /bookings/{booking_id}:
    get:
      summary: Get booking details by ID
      description: Retrieves booking summary and current status using a unique booking reference ID.
      parameters:
        - name: booking_id
          in: path
          required: true
          schema:
            type: string
          example: "JG-84920"
      responses:
        '200':
          description: Booking details retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookingResponse'
        '404':
          description: Booking reference not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  schemas:
    Station:
      type: object
      properties:
        crs_code:
          type: string
          example: "KGX"
        name:
          type: string

http://googleusercontent.com/map_location_reference/1
          example: "[King’s Cross](http://googleusercontent.com/map_location_reference/0)"
        zone:
          type: integer
          example: 1

    FareRequest:
      type: object
      required:
        - base_price
        - ticket_quantity
      properties:
        base_price:
          type: number
          format: float
          example: 100.00
        railcard_type:
          type: string
          nullable: true
          example: "SIXTEEN_TWENTYFIVE"
        ticket_quantity:
          type: integer
          example: 1

    FareResponse:
      type: object
      properties:
        base_price:
          type: number
          example: 100.00
        railcard_type:
          type: string
          nullable: true
          example: "SIXTEEN_TWENTYFIVE"
        discount_rate:
          type: number
          example: 0.34
        unit_discount:
          type: number
          example: 34.00
        final_unit_price:
          type: number
          example: 66.00
        total_price:
          type: number
          example: 66.00

    BookingRequest:
      type: object
      required:
        - origin
        - destination
        - passenger_email
        - passengers
        - base_price
      properties:
        origin:
          type: string
          example: "KGX"
        destination:
          type: string
          example: "MAN"
        passenger_email:
          type: string
          example: "sarah.smith@journeyguard.co.uk"
        railcard_type:
          type: string
          nullable: true
          example: "SIXTEEN_TWENTYFIVE"
        passengers:
          type: array
          items:
            type: string
          example: ["Sarah Smith"]
        base_price:
          type: number
          example: 100.00

    BookingResponse:
      type: object
      properties:
        booking_id:
          type: string
          example: "JG-84920"
        status:
          type: string
          example: "CONFIRMED"
        origin:
          type: string
          example: "KGX"
        destination:
          type: string
          example: "MAN"
        passenger_email:
          type: string
          example: "sarah.smith@journeyguard.co.uk"
        total_price:
          type: number
          example: 66.00

    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          example: "Resource not found"
        status_code:
          type: integer
          example: 404

  responses:
    400BadRequest:
      description: Invalid request parameters or validation error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'